@font-face {
    font-family: 'davat';
    src: url('../fonts/BDavat.eot');
    src: url('../fonts/BDavat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BDavat.woff2') format('woff2'),
        url('../fonts/BDavat.woff') format('woff'),
        url('../fonts/BDavat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'yekan', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../images/lpwr-bg.jpg') repeat center center fixed;
}
